@charset "utf-8"

body {
  background: #efefef;
}

#start {
  cursor: pointer;
  font-weight: bold;
  width: 80px;
  text-align:center;

}

.finish {
  background: #FFFF00;
  pointer-events : none;
  display: none;
}
